<nav class="navbar bg-light inherit margin-bottom">
    <div class="container-fluid">
      
        <a class="navbar-brand flexrow inherit" href="#">
          <img src="/images/Train.png" alt="" width="60" height="60" class="d-inline-block align-text-top">
          <p class="typo inherit spaceMd">CHINOIS EXPRESS</p>
        </a>
      
        
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success spaceMd" type="submit">Connection</button>
        <button class="btn btn-outline-success spaceMd" type="submit">My last trip</button>
      </form>
    </div>
    <div class="dividergold">
    </div>
  </nav>