<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('navbar'); %>

    <h2>
        Ticket available on XX/XX
      </h2>

    <div class="tile-container">
       
            <div class="tile col-12" >
                <p> Ville de départ / ville d'arrivée</p>
                
                <p>Train departure at: XX/XX/XX</p>

                <div class="flexrow">
                <p>Price</p>                     
                <a href="#"> <button type="button" class="btn btn-outline-warning"><i class="fa-solid fa-circle-xmark"></i></button></a>
                </div>
                
            </div>
            <div class="divider col-12"></div>
    </div>

</body>
</html>