body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;

}

label {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 900;
  background-color: #97281C;
  border: 5px solid #000000; 
  outline: 5px solid #D8C5AA;
  border-radius: 4px;
  line-height: 32px;
  padding: 8px;

  

 
}
p {
  margin: 0px;
    color: #000000;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;

  
}

.margin-bottom {
  margin-bottom: 100px;
}

.margin-top {
  margin-top: 100px;
}

.dividergold {
  background-color: #97281C;
  height: 10px;
  width: 100%;

}


.typo{
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 800;
  color: black;
}

.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 24px;
  border: 5px solid #000000; 
  outline: 5px solid #D8C5AA;
  border-radius: 16px;
  height: 100px;
  background-color: #fff;  
}

.inherit {
  padding: 0;
  margin: 0;
}

h2 {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 900;
  background-color: #97281C;
  border-radius: 4px;
  line-height: 32px;
  padding: 8px;
  margin: 32px 0;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  color: rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  border: 5px solid #000000; 
  outline: 5px solid #D8C5AA;
  font-size: 20px;
  font-weight: 900;
  background-color:#D8C5AA;
  border-radius: 4px;
  line-height: 32px;
  padding: 8px;
  margin: 32px 0;
  text-align: center;
  text-transform: uppercase;
}


.spaceMd {
  margin: 16px 16px;
}

.buttoncustomprimary {
  color: #000000;
  border: 5px solid #000000; 
  outline: 5px solid #D8C5AA;
  background-color: white;

  padding-left: 64px;
  padding-right: 64px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 28px;
  border-radius: 16px;

}


.buttoncustom {
  color: #333333;
  border: 5px solid #000000; 
  outline: 5px solid #D8C5AA;
  background-color: white;
  padding-left: 24px;
  padding-right: 24px;
  font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.buttoncustomsmall {
  color: #000000;
  border: 2px solid #000000; 
  outline: 5px solid #D8C5AA;
  background-color: inherit;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 16px;
  
}

.background {
  background-color: #d5e3e5;
    background-image: url("/images/background.jpeg");
    background-size: contain;
    background-repeat: repeat;
    background-position: bottom;
    width: 100%;
  z-index: 1;
}


.mention {
  color: #000000;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.formArea {
  margin-top: 32px;
  
}

.inputcustom {
  color: #333333;
  border: 5px solid #000000; 
  outline: 5px solid #D8C5AA;
  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  height: 60px;
  
}

.inputspace {
  margin: 24px;
}

.navbarcolor {
 background-color: #ffffff; 
}


table {
  background-color: #FFF;
  border: 5px solid #000000; 
  outline: 5px solid #D8C5AA;
}

.buttoncustomnavbar {
  color:#97281C;
  border: 2px solid #97281C; 
  background-color: inherit;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 16px;
  
}

.popup {
  width: 400px;
  background: rgb(169, 2, 2);
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0,2);
}

.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
  background-color: black;
}
.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #050505;
  color: rgb(255, 255, 255);
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0,2);
}